#ignore log file
*.log

#ignore system file
.DS_Store

#ignore npm modules
node_modules/

#ignore local web server
web-server.js

# temporary files #
*~

# Package Files #
*.zip

# IDE folders or files #
.idea/
*.iml